<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cking.phss"
    android:versionCode="20"
    android:versionName="2.0.0.020" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 登录页面 -->
        <activity android:name=".activity.LoginActivity" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <!-- 选择界面 -->
        <activity android:name=".activity.HomeActivity" />

        <!-- 主页面 -->
        <activity android:name=".activity.MainActivity" />

        <provider
            android:name=".bluetooth.lifesense.ble.ui.DeviceContentProvider"
            android:authorities="com.cking.phss.dataBase" >
        </provider>

        <activity
            android:name=".bluetooth.lifesense.ble.ui.ConfigPreferenceActivity"
            android:label="@string/title_activity_config_preference"
            android:theme="@style/dialog" >
        </activity>
        <activity
            android:name=".bluetooth.lifesense.ble.ui.TestMainActivity"
            android:label="@string/title_activity_test_main"
            android:theme="@style/dialog" >
        </activity>
        <activity
            android:name=".bluetooth.lifesense.ble.ui.AddDeviceActivity"
            android:label="@string/title_activity_main_new"
            android:theme="@style/dialog" >
        </activity>
        <activity
            android:name=".test.Test_PinyinActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".test.Test_AChartEngine1Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".test.Test_AChartEngine2Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".test.Test_YyzdActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".test.Test_BluetoothClient4Bm2000Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".test.Test_BluetoothClient4HandeActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".test.Test_BluetoothClient4SpRmtiiiActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".test.Test_BluetoothClient4CardioChekActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".test.Test_BluetoothClient4Bp3mActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".test.Test_BluetoothClient4BeneCheckActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".test.Test_XmlFactoryActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".test.Test_BluetoothClient4Ls501Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".test.Test_EkgActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <service android:name=".update.UpdateService" >
            <intent-filter>
                <action android:name="com.cking.phss.service.update_service" />
            </intent-filter>
        </service>
        <service android:name=".service.ListenNetStateService" >
        </service>

        <activity
            android:name=".activity.UpdateActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/bklistDialog" >
        </activity>

        <!-- me custom -->
        <activity
            android:name="net.mingxing.activities.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.mingxing.activities.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>

        <service android:name="net.mingxing.service.ListenNetStateService" />
    </application>

</manifest>
